.carritoProductos{
  text-align: center;
}
.carritoTableContainer{
  margin-top: 10px;
}
.carritoTable {
  width: 100%; /* Ocupa todo el ancho de su contenedor */
  border-collapse: collapse; /* Une los bordes de las celdas */
}
.carrito-modal {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
}

.modal-content {
  flex: 1; /* Ocupa todo el espacio restante en la izquierda */
}

.carritoTable th,
.carritoTable td {
  padding: 8px; /* Añade un espaciado interno a las celdas si es necesario */
  text-align: center; /* Centra el contenido de las celdas */
  border: none; /* Elimina los bordes de las celdas */
}
.resumenCompra {
  flex: 0 0 30%; /* Establece un ancho fijo para el resumen de compra */
  border: 1px solid #ddd;
  padding: 16px;
  margin-left: 20px; /* Espacio entre el contenido principal y el resumen de compra */
  text-align: center;
}

.resumenCompra h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.resumenCompra p {
  font-size: 16px;
  margin-bottom: 10px;
}

.resumenCompra button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.resumenCompra button:hover {
  background-color: #0056b3;
}